table {
  width: 70%;
  margin-left: 50px;
  margin: auto;
  margin-top: 4rem;
}

.row-hover {
  cursor: pointer;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.background-image {
  background-repeat: no-repeat;
  background-size: cover;

  background-image: url(../../../../assets/home2.jpg);
}

.heading {
  font-size: 29px;
}
