<h2>Credit Cards</h2>

<div *ngIf="creditCards.length" class="flex-container">
  <div *ngFor="let card of creditCards">
    <div class="card">
      <h4>{{ card.cardType }}</h4>
      <h4>{{ card.cardNumber }}</h4>

      <h4>{{ card.validityDate }}</h4>
      <h4>{{ card.nameOnCard }}</h4>
    </div>
    <div class="button">
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['credit-card', card.cardId, 'bills']"
      >
        View Bills
      </button>
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['credit-card', card.cardId, 'add-bill']"
      >
        Add Bills
      </button>
    </div>
  </div>
</div>
