<div class="top-div">
  <div class="container">
    <h2 class="heading" style="margin-bottom: 3rem">Login</h2>
    <mat-card class="card">
      <mat-tab-group>
        <mat-tab label="Mobile No.">
          <form
            class="form-style"
            #loginForm="ngForm"
            (ngSubmit)="onLoginWithContact(loginForm)"
          >
            <mat-form-field appearance="outline">
              <mat-label>Mobile Number</mat-label>
              <mat-label
                *ngIf="contact.touched && contact.pristine"
                [ngStyle]="{ color: 'red' }"
              >
                is requried</mat-label
              >
              <input
                matInput
                placeholder="Enter mobile number"
                #contact="ngModel"
                name="contact"
                required
                ngModel
              />
              <mat-icon class="icon" matSuffix>call</mat-icon>
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <mat-label
                *ngIf="password_mob.touched && password_mob.pristine"
                [ngStyle]="{ color: 'red' }"
              >
                is requried</mat-label
              >

              <input
                type="password"
                matInput
                placeholder="Enter password"
                #password_mob="ngModel"
                name="password"
                required
                ngModel
              />
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>

            <button type="submit" mat-flat-button class="button">
              Sign In
            </button>
          </form>
        </mat-tab>
        <mat-tab label="Email">
          <form
            class="form-style"
            #form="ngForm"
            (ngSubmit)="onLoginWithEmail(form)"
          >
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <mat-label
                *ngIf="email.touched && email.pristine"
                [ngStyle]="{ color: 'red' }"
              >
                is requried</mat-label
              >
              <mat-icon class="icon" matSuffix>email</mat-icon>
              <input
                matInput
                type="email"
                placeholder="Enter Email"
                #email="ngModel"
                name="email"
                ngModel
                required
              />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <mat-label
                *ngIf="password.touched && password.pristine"
                [ngStyle]="{ color: 'red' }"
              >
                is requried</mat-label
              >
              <input
                type="password"
                matInput
                placeholder="Enter password"
                #password="ngModel"
                name="password"
                ngModel
                required
              />
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>

            <button type="submit" mat-flat-button class="button">
              Sign In
            </button>
          </form>
        </mat-tab>
      </mat-tab-group>
      <h1 class="signup">
        Does not have account? <a href="/sign-up" class="link"> Sign Up</a>
      </h1>
    </mat-card>
  </div>
  <div>
    <img src="../../../../assets/cm.png" alt="" class="image" />
  </div>
</div>
