.card {
  margin: 3rem auto;
  width: 31.25rem;
  border-radius: 5px;
  border: 1px solid #e7e6e6;
  padding: 3rem 3rem;
  margin-top: 6rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px, rgba(0, 0, 0, 0.1) 0px 8px 24px,
    rgba(0, 0, 0, 0.1) 0px 16px 56px;
}

.header {
  border-bottom: 1px solid #e7e6e6;
  margin-bottom: 1rem;
}

.header > h3 {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.header > h4 {
  font-size: 1.3rem;
  text-transform: lowercase;
}

.details-group {
  display: flex;
  justify-content: space-between;
}

.details-group > h4 {
  font-size: 1.2rem;
}

.details-group > h4:last-child {
  font-weight: bold;
}
