.heading {
  text-align: center;
  font-size: 2rem;
  margin-top: 4rem;
}

.card {
  background-color: rgb(130, 116, 146);
  color: #fff;
  width: 20.25rem;
  border-radius: 5px;
  border: 1px solid #e7e6e6;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px, rgba(0, 0, 0, 0.1) 0px 8px 24px,
    rgba(0, 0, 0, 0.1) 0px 16px 56px;
  cursor: pointer;
}

/* .button {
  margin-left: 5.5rem;
}

.button2 {
  margin-left: 0.4rem;
} */

.flex-container {
  display: flex;
  max-width: 90%;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
