<div class="bg-image">
  <h1>Our Brand Promise - Make Life Simple</h1>
</div>
<div class="desc">
  <h2
    style="
      font-size: 2rem;
      font-family: 'Times New Roman', Times, serif;
      font-weight: bold;
      color: cornflowerblue;
    "
  >
    Our Values and Culture
  </h2>
  <h4 style="font-size: 1rem">A culture of learning and development</h4>
</div>

<div class="toggle-div">
  <mat-button-toggle-group
    name="fontStyle"
    aria-label="Font Style"
    class="toggle"
  >
    <mat-button-toggle value="bold" class="button">
      <div><mat-icon class="icon">redeem</mat-icon></div>
      Our Values</mat-button-toggle
    >
    <mat-button-toggle value="italic" class="button">
      <div><mat-icon class="icon">weekend</mat-icon></div>
      Our Culture</mat-button-toggle
    >
  </mat-button-toggle-group>
</div>

<div class="div2">
  <div class="values">
    <div>
      <img
        class="Vimg"
        src="https://www.sbicard.com/sbi-card-en/assets/media/images/who-we-are/careers/our-values/act-with-integrity.jpg"
        alt=""
      />
    </div>
    <div class="desc1">
      <h2 style="color: cornflowerblue">Act with integrity</h2>
      <h3>
        We do what is right, not what is easiest. We are honest and ethical in
        all that we do, at all times and in every situation.
      </h3>
    </div>
  </div>

  <div class="values" style="margin-top: 1rem">
    <div>
      <img
        class="Vimg"
        src="https://www.sbicard.com/sbi-card-en/assets/media/images/who-we-are/careers/our-values/earn-trust-new.jpg"
        alt=""
      />
    </div>
    <div class="desc1">
      <h2 style="color: cornflowerblue">Earn Trust</h2>
      <h3>
        We honour our commitments. To customers, to employees, to partners and
        to society. We say what we mean and we mean what we say.
      </h3>
    </div>
  </div>

  <div class="values" style="margin-top: 1rem">
    <div>
      <img
        class="Vimg"
        src="https://www.sbicard.com/sbi-card-en/assets/media/images/who-we-are/careers/our-values/respect-for-all.jpg"
        alt=""
      />
    </div>
    <div class="desc1">
      <h2 style="color: cornflowerblue">Respect for All</h2>
      <h3>
        We treat others as we expect to be treated; with respect, dignity and
        honour. Especially when things go wrong.
      </h3>
    </div>
  </div>

  <div class="values" style="margin-top: 1rem">
    <div>
      <img
        class="Vimg"
        src="https://www.sbicard.com/sbi-card-en/assets/media/images/who-we-are/careers/our-values/lead-with-courage.jpg"
        alt=""
      />
    </div>
    <div class="desc1">
      <h2 style="color: cornflowerblue">Lead with Courage</h2>
      <h3>
        We challenge convention and pursue our convictions. Irrespective of the
        outcome, we always own our decisions and choices.
      </h3>
    </div>
  </div>

  <div class="values" style="margin-top: 1rem">
    <div>
      <img
        class="Vimg"
        src="https://www.sbicard.com/sbi-card-en/assets/media/images/who-we-are/careers/our-values/customer-first.jpg"
        alt=""
      />
    </div>
    <div class="desc1">
      <h2 style="color: cornflowerblue">Customer First</h2>
      <h3>
        Customers are at the heart of all our choices. We understand that we
        exist because of our customers and the privilege to serve them has to be
        earned every day.
      </h3>
    </div>
  </div>
</div>
<div class="div3">
  <h1>Our Culture</h1>
  <div class="values1">
    <div class="desc1">
      <h2 style="color: cornflowerblue">Talent development</h2>
      <h3>
        We hire high potential people and invest in their growth. SBI Card has a
        culture of continuous learning. Our training programs are thoughtfully
        designed to enable employees to enhance their skills and reach their
        full potential. We invest in employees’ education, and combine it with
        coaching and mentoring opportunities. Frequent leadership interactions
        further help to ensure well rounded professionals all around us.
      </h3>
    </div>
  </div>

  <div class="values1">
    <div class="desc1">
      <h2 style="color: cornflowerblue">Approach towards learning</h2>
      <h3>
        Our approach to learning is guided by our commitment to enhance the
        leadership qualities in SBI Card employees. The learning processes also
        facilitate alignment to our core values. Our learning programs include
        world class leadership, functional and business specific trainings to
        our employees. Employees also get opportunities to develop new skills
        and deliver in competitive environment by working on various cross
        functional projects as well.
      </h3>
    </div>
  </div>

  <div class="values1">
    <div class="desc1">
      <h2 style="color: cornflowerblue">Career path</h2>
      <h3>
        Developing and defining the career path for employees is deep rooted in
        the culture of SBI Card. We have well defined processes that can help
        employees proactively plan their career. Pathfinder, our career path
        guide, helps employees to find the right opportunities and create a
        personalized career plan. It provides guidance on various enablers that
        employees can leverage to realise their aspirations.
      </h3>
    </div>
  </div>

  <div class="values1">
    <div class="desc1">
      <h2 style="color: cornflowerblue">Fair employment practices</h2>
      <h3>
        SBI Card strongly believes in fair employment practices. We are
        committed to prohibit all forms of discrimination against our employees
        and provide them with equal and fair treatment. We follow the detailed
        guidelines drafted as part of our fair employment practices as the basis
        of our effort towards ensuring equal opportunities for all our
        employees.
      </h3>
    </div>
  </div>

  <div class="values1">
    <div class="desc1">
      <h2 style="color: cornflowerblue">Diversity focus</h2>
      <h3>
        At SBI Card, we are committed to diversity and inclusion. We believe
        that diversity is a journey and we will continue to evolve and align
        practices to provide inclusive opportunities. Our diversity programs
        focus on gender diversity and creating opportunities for the differently
        abled. It is our constant endeavor to foster greater levels of inclusion
        by extending the diversity programs to include a more diverse workforce.
      </h3>
    </div>
  </div>
</div>
