<p>update-credit-card works!</p>
<div class="card">
  <h1 class="bills-heading">CreditCard Details</h1>
  <div class="form-div">
    <mat-form-field appearance="fill">
      <mat-label>Card Type</mat-label>
      <mat-label
        *ngIf="type.touched && type.pristine"
        [ngStyle]="{ color: 'red' }"
      >
        is required</mat-label
      >
      <input
        matInput
        placeholder="Enter card type"
        #type="ngModel"
        name="type"
        required
        ngModel
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Card Number</mat-label>
      <mat-label
        *ngIf="number.touched && number.pristine"
        [ngStyle]="{ color: 'red' }"
      >
        is required</mat-label
      >
      <input
        matInput
        placeholder="Enter card number"
        #number="ngModel"
        name="number"
        required
        ngModel
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Validity Date</mat-label>
      <mat-label
        *ngIf="date.touched && date.pristine"
        [ngStyle]="{ color: 'red' }"
      >
        is required</mat-label
      >
      <input
        matInput
        placeholder="Enter Date"
        #date="ngModel"
        name="date"
        required
        ngModel
        [matDatepicker]="picker"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Name on Card</mat-label>
      <mat-label
        *ngIf="number.touched && number.pristine"
        [ngStyle]="{ color: 'red' }"
      >
        is required</mat-label
      >
      <input
        matInput
        placeholder="Enter name on card"
        #name="ngModel"
        name="name"
        required
        ngModel
      />
    </mat-form-field>
    <button type="submit" mat-flat-button class="button">Submit</button>
  </div>
</div>
