.card {
  margin: auto;
  margin-top: 3rem;
  width: 24.25rem;
  border-radius: 5px;

  border: 2px solid cornflowerblue;
  padding: 3rem 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px, rgba(0, 0, 0, 0.1) 0px 8px 24px,
    rgba(0, 0, 0, 0.1) 0px 16px 56px;
}

.details-group {
  display: flex;
  justify-content: space-between;
}

.details-group > h4 {
  font-size: 1rem;
}

.details-group > h4:last-child {
  font-weight: bold;
}

.biller-name {
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  color: cornflowerblue;
}
.flex-container {
  display: flex;
}
