/* .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  margin: 0 auto;
} */
.container {
  display: flex;
  flex-direction: row;
}
.bill-img {
  height: 80vh;
  width: 30vw;
  margin: 6rem;
}
.card {
  margin: 8rem auto;
  width: 22.25rem;
  height: 19rem;
  border-radius: 5px;
  border: 2px solid cornflowerblue;
  padding: 2rem 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px, rgba(0, 0, 0, 0.1) 0px 8px 24px,
    rgba(0, 0, 0, 0.1) 0px 16px 56px;
}

.details-group {
  display: flex;
  justify-content: space-between;
}

.details-group > h4 {
  font-size: 1rem;
}

.details-group > h4:last-child {
  font-weight: bold;
}

.biller-name {
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  color: cornflowerblue;
}
