<div *ngIf="bills.length" class="container" [routerLink]="['/bills']">
  <div>
    <img class="bill-img" src="../../../../assets/bill2.jpg" alt="" />
  </div>
  <div class="card" *ngFor="let bill of bills">
    <div>
      <h3 class="biller-name">
        {{ bill.billerName }}
      </h3>
    </div>
    <div class="details-group">
      <h4>Bill No:</h4>
      <h4>{{ bill.billId }}</h4>
    </div>
    <div class="details-group">
      <h4>Bill Date:</h4>
      <h4>{{ bill.date }}</h4>
    </div>
    <div class="details-group">
      <h4>Payment Status:</h4>

      <h4>{{ bill.isPaid }}</h4>
    </div>
    <div class="details-group">
      <h4>Bill Amount:</h4>
      <h4>
        {{ bill.amount }}
      </h4>
    </div>
  </div>
</div>
